@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Merriweather:ital,wght@1,300&family=Neonderthaw&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;    
}
.nav-list li{
 list-style: none;
 padding: 10px;
}
.nav-list li a{
 text-decoration: none;
 color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;
   }

.btn:hover
{
    color: black;
    background-color: white;
    border: 3px solid black;
}
.right-nav{
    text-align: right;
    width: 30%;
    padding: 0 23px;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 3px;
}

#Search{
    padding: 4px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
}

.background
{
    background: rgba(0,0,0, 0.7) url('static/clglogin.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.box-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}
.firstHalf{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
width: 17%;
}
.secondHalf img{
    width: 137%;
    /* padding:4px,0; */
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;   
}
.text-big{
 font-size: 49px;
 padding: 12px 0px;
}
.text-small{
 font-size: 15px;
 font-family: 'Merriweather', serif;
}
.btn{
    padding: 6px 17px;
    margin: 26px 11px;
    border: 3px solid white;
    border-radius: 9px;
    font-size: 17px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 3px 8px;
    vertical-align: middle;
    margin: 14px 7px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 17px;
    background: none;
    color: white;
    cursor: pointer;
}
.section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: 35px auto;
    
}

.sec-Left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0 60px;
}

.thumbnail img {
    border: 2px solid black;
    border-radius: 19px;
}
.contact{
    background-color: antiquewhite;
    height: 70vh;
}
.contact-text{
    text-align: center;
}
.form{
    margin: 19px auto;
    text-align: center;
    max-width: 62%;
}
.form-input{
        display: block;
        margin: 18px auto;
        width: 244px;
        border: 2px solid grey;
        border-radius: 8px;
        padding: 5px;
        width: 40%;
}
.contact-text{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: 12px;
     font-size: 35px;
}
.dark{
    border: 2px solid black;
    color: green;
}
.text-footer{
    align-items: center;
    padding: 5px;
    justify-content: center;
    display: flex;
    background-color: gray;
    color: white;
}
.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}
